steedos-packages/node-red/flows.json
[{"id":"6f2ac616.c0a708","type":"tab","label":"login","disabled":false,"info":""},{"id":"aff546d8.013ba8","type":"tab","label":"test","disabled":false,"info":""},{"id":"3fc9b31d.f1e64c","type":"inject","z":"aff546d8.013ba8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["8b100155.709f2"]]},{"id":"8b100155.709f2","type":"debug","z":"aff546d8.013ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":120,"wires":[]},{"id":"20fe9e2e.b0b322","type":"http in","z":"6f2ac616.c0a708","name":"","url":"/community/login","method":"get","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["8f8c813c.8d2d8"]]},{"id":"8f8c813c.8d2d8","type":"template","z":"6f2ac616.c0a708","name":"login form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"/assets/styles/steedos-tailwind.min.css\">\n    </head>\n    <body>\n        <!--\n  This example requires Tailwind CSS v2.0+ \n  \n  This example requires some changes to your config:\n  \n  ```\n  // tailwind.config.js\n  module.exports = {\n    // ...\n    plugins: [\n      // ...\n      require('@tailwindcss/forms'),\n    ]\n  }\n  ```\n-->\n<div class=\"min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8\">\n  <div class=\"max-w-md w-full space-y-8\">\n    <div>\n      <img class=\"mx-auto h-12 w-auto\" src=\"https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg\" alt=\"Workflow\">\n      <h2 class=\"mt-6 text-center text-3xl font-extrabold text-gray-900\">\n        Sign in to your account\n      </h2>\n    </div>\n    <form class=\"mt-8 space-y-6\" action=\"#\" method=\"POST\">\n      <div class=\"rounded-md shadow-sm -space-y-px\">\n        <div>\n          <label for=\"email-address\" class=\"sr-only\">Email address</label>\n          <input id=\"email-address\" name=\"email\" type=\"email\" autocomplete=\"email\" required class=\"appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm\" placeholder=\"Email address\">\n        </div>\n        <div>\n          <label for=\"password\" class=\"sr-only\">Password</label>\n          <input id=\"password\" name=\"password\" type=\"password\" autocomplete=\"current-password\" required class=\"appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm\" placeholder=\"Password\">\n        </div>\n      </div>\n\n      <div>\n        <button type=\"submit\" class=\"group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500\">\n          <span class=\"absolute left-0 inset-y-0 flex items-center pl-3\">\n            <!-- Heroicon name: solid/lock-closed -->\n            <svg class=\"h-5 w-5 text-indigo-500 group-hover:text-indigo-400\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 20 20\" fill=\"currentColor\" aria-hidden=\"true\">\n              <path fill-rule=\"evenodd\" d=\"M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z\" clip-rule=\"evenodd\" />\n            </svg>\n          </span>\n          Sign in\n        </button>\n      </div>\n    </form>\n  </div>\n</div>\n\n    </body>\n</html>","output":"str","x":340,"y":100,"wires":[["6543df89.4a91e"]]},{"id":"6543df89.4a91e","type":"http response","z":"6f2ac616.c0a708","name":"","statusCode":"","headers":{},"x":530,"y":100,"wires":[]},{"id":"88a485da.53f598","type":"http in","z":"6f2ac616.c0a708","name":"","url":"/community/login","method":"post","upload":false,"swaggerDoc":"","x":140,"y":160,"wires":[["af221b0.fafebe8"]]},{"id":"af221b0.fafebe8","type":"function","z":"6f2ac616.c0a708","name":"","func":"msg.payload.user = msg.payload.email;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":160,"wires":[["d2bbabe8.4cdb78"]]},{"id":"915870b3.17eed","type":"debug","z":"6f2ac616.c0a708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.user._id","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":240,"wires":[]},{"id":"d2bbabe8.4cdb78","type":"http request","z":"6f2ac616.c0a708","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://127.0.0.1:5000/accounts/password/login","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":160,"wires":[["99bd786f.523888","4d8ce48e.bff6ac"]]},{"id":"99bd786f.523888","type":"switch","z":"6f2ac616.c0a708","name":"login success","property":"payload.sessionId","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":240,"wires":[["915870b3.17eed","4016dd7b.8bbaf4"]]},{"id":"4016dd7b.8bbaf4","type":"http response","z":"6f2ac616.c0a708","name":"","statusCode":"303","headers":{"Location":"/"},"x":680,"y":300,"wires":[]},{"id":"ff7a6692.f94508","type":"http response","z":"6f2ac616.c0a708","name":"","statusCode":"303","headers":{"Location":"/community/login"},"x":820,"y":160,"wires":[]},{"id":"4d8ce48e.bff6ac","type":"switch","z":"6f2ac616.c0a708","name":"login failed","property":"payload.sessionId","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":160,"wires":[["ff7a6692.f94508","670f4077.74403"]]},{"id":"670f4077.74403","type":"debug","z":"6f2ac616.c0a708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.sessionId","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":200,"wires":[]}]